a {
text-decoration: none;
color: #6ab47b
}

#wrapper{
max-width: 940px;
margin: 0 auto;
padding: 0 5%;
}

#logo{
  text-align: center;
  margin: 0;
}


header{
  background: #6ab47b;
  border-color: #000000;
}

h1, h2{
  color: #fff;
}

nav{
  background: #599a58;
}

nav a, nav a:visited{
  color: #fff;
}

nav a.selected, nav a:hover{
  color: #32673f;
}

body{
  background-color: #fff;
  color:#999;
}

p {
color: #000000;
}
